/* 
IMPORTS 
font-family: 'Montserrat', sans-serif;
font-family: 'Cinzel', serif;

MOBILE-1ST-default
TABLET-2ND-(min-width: 426px)
LAPTOP-3RD-(min-width: 769px)
DESKTOP-4TH-(min-width: 1025 px)

GLOBAL STYLES
HEADER STYLES
NAV STYLES
MAIN STYLES
INTRO STYLES
ABOUT STYLES
PROJECT-IDEAS STYLES
SERVICES STYLES
CONTACT STYLES
SIDE STYLES
PORTFOLIO STYLES
FOOTER STYLES
*/

/****** GLOBAL STYLES ******/
* {
  border: 1px solid red;
}
/* FLEXBOX FORMAT */
.wrapper {
  width: 100%;
}
.group {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  /* justify-content: space-between; */
  display: flex;
  flex-direction: column;
  /* margin-bottom: 100px; */
}
.item {
  flex: 1;
  /* margin: 10px; */
  margin: auto;
  text-align: center;
  color: #f2f2f2;
  line-height: 1.25em;
  /* line-height: 1.5em; */
  /* font-size: 1.1em; */
  /* width: 50%; */
}
.item-double {
  flex: 2;
  margin: 10px;
}


/* BASE */
* {
  font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Cinzel', serif;
}
p {
  margin-top: 0;
}
hr {
  border-top: 0.5px solid rgba(153,153,153, 0.7);
}
body {
  float:left;
  background: #003d75;
  color: #555;
}
main {
  display: flex;
  /* width: 80%; */
  background: #f2f2f2;
  margin: auto;
}

main h1 {
  margin: 0 10px;
  text-align: center;
  font-size: 65px;
}

main h2 {
  display: block;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.5em;
  margin: 18px 0 12px 0;
  border-bottom: 0.5px solid rgba(153,153,153, 0.7);
  font-size: 24px;
}
main h3 {
  margin: 18px 0 12px 0;
  border-bottom: 1px solid #5c4f41;
  font-size: 18px;
}
section p (
  color: #eee;
)
img {
  width: 100%;  
}
 
/****** SECTION STYLES ******/

 /* HEADER STYLES */
 header {
  margin: 0;
  /* height: 200px; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
  background: #f2f2f2;
  /* width: 80%;*/
 }
 header h1{
  color: #0069ca !important;
  font-size: 2em;
  /* font-weight: bold; */
  /* font-family: sans-serif; */
  /* text-transform: uppercase; */
  /* text-shadow: -6px 6px 15px rgba(0, 0, 0, 0.55); */
  text-shadow: -3px 3px 7px rgba(0, 0, 0, 0.55);
}

/* INTRO STYLES */
#intro h2 {
  border: none;
}
.intro-wrapper {
  margin: 1.5em;
  box-shadow: 5px -6px 10px rgb(208, 205, 205), 
              5px 4px 15px rgba(0, 0, 0, 0.42);
  padding: 1em;
  border-radius: .5em;
  /* width: 80%; */
  text-align: center;
  background: #003d75;
}
.intro-box img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 6px solid #003d75;
  box-shadow: 5px 5px 10px #0069ca, 
             -5px -5px 10px #0069ca;
}
