/*
font-family: 'Montserrat', sans-serif;
font-family: 'Cinzel', serif;

Color Palatte:
mauve- #C89BA2
plum- #4C1B31
lighter blue- #4A7890
medium blue- #093E60
navy- #041F3D
rose gold- #CD8D81
rose gold gradient link- https://www.colorzilla.com/gradient-editor/#cd8561+0,e1ac8f+25,f2d4c3+50,e1ac8f+75,cd8561+100

@ media all and (min-width: px) {}

Styles Order:

GLOBAL STYLES
HEADER STYLES
NAV STYLES
MAIN STYLES
INTRO STYLES
ABOUT STYLES
PROJECT-IDEAS STYLES
SERVICES STYLES
CONTACT STYLES
SIDE STYLES
PORTFOLIO STYLES
FOOTER STYLES
*/

/* GLOBAL STYLES */
.group {
  display: flex;
  flex-direction: column (or row);
}


* {
  font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Cinzel', serif;
}
h2 {
  display: block;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  color:#fff;
  font-size: 1.5em;
}
a, a:-webkit-any-link {
  text-decoration: none;
  color: black;
}
p {
  text-align: center;
  color: #eee;
  line-height: 1.5em;
  font-size: 1.1em;
}
ul {
  padding-inline-start: 0;
}
hr {
  border-top: 0.5px solid rgba(153,153,153, 0.7);
}
body {
  float:left;
  background: #003d75;
  color: #555;
}
.heading{
  font-size: 2em;
  color:#eee;
  text-transform: uppercase;
  text-align: center;
}
.row {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.col-one{
  width: 100%;
}
.col-half {
  width: 48%;
  float: left;
  margin: 1em;
  flex: auto;
}
.col-thirds {
  width: 31%;
  float: left;
  margin: 1em;
  flex: auto;
}
.btn-container {
  display: inline-flex;
}
.btn {
  text-decoration: none;
  height: 50px;
  width: 50px;
  margin: 0 8px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 400ms;
  background: #003d75;
  box-shadow:  5px 5px 10px #00101f,
              -5px -5px 10px #0069ca;
}
.btn:hover {
  box-shadow: inset 5px 5px 10px #00101f,
              inset -5px -5px 10px #0069ca;
  transform: translatey(2px);
}
.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(70, 70, 70, .5);
  z-index: 1;
}
/* HEADER STYLES */
header {
  margin: 0;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f2f2;
  width: 80%;
}
header .row {
  justify-content: center;
}
h1 {
  color: #0069ca !important;
  font-size: 5em;
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
  text-shadow: -6px 6px 15px rgba(0, 0, 0, 0.55);
  position: relative;
}
/* NAV STYLES */
nav ul {
  list-style: none;
  display: inline-flex;

}
/* MAIN STYLES */
main {
  float:left;
  width: 80%;
  background: #f2f2f2;
  background-size: cover;
}
/* INTRO STYLES */
.intro-box {
  margin: 0 auto 3em auto;
  box-shadow: 5px -6px 10px rgb(208, 205, 205), 5px 4px 15px rgba(0, 0, 0, 0.42);
  padding: 1em 3em;
  border-radius: .5em;
  width: 80%;
  text-align: center;
  background: #003d75;
}
.intro-box img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 6px solid #003d75;
  box-shadow: 5px 5px 10px #0069ca, -5px -5px 10px #0069ca;
}
.intro-content{
  margin: auto;
  text-align: center;
  color:#727272;
  line-height: 1.5em;
  font-size: 1.1em;
  list-style: none;
  width: 50%;
}
/* ABOUT STYLES */
.about-box {
  margin: 3em auto;
  box-shadow: 5px -6px 10px rgb(208, 205, 205), 5px 4px 15px rgba(0, 0, 0, 0.42);
  padding: 1em 3em;
  border-radius: .5em;
  width: 80%;
  background: #003d75;
}
.about .heading {
  color: #D5A194;
}
.about-content{
  margin: auto;
  text-align: center;
  color:#727272;
  line-height: 1.5em;
  font-size: 1.1em;
  list-style: none;
  width: 50%;
}
/* PROJECT-IDEAS STYLES */
.concept-box {
  margin: 3em auto;
  box-shadow: 5px -6px 10px rgb(208, 205, 205), 5px 4px 15px rgba(0, 0, 0, 0.42);
  padding: 1em 3em;
  border-radius: .5em;
  background: #003d75;
}
.concept-img img {
  display: block;
  text-align: center;
  width: 100%;
  margin-bottom: 1.5em;
}
.concept-content{
  margin: 1.5em 0;
  text-align: center;
  color:#eee;
  line-height: 1.5em;
  font-size: 1.1em;
}
.concept-button{
  display: block;
  text-align: center;
}
.concept-button .btn {
  display: inline-block;
  box-shadow: 5px 5px 10px #00101f, -5px -5px 10px #0069ca;
  color: #7dbbf5;
  background: none;
  padding: 1em;
  text-transform: uppercase;
  font-weight: 500;
  height: auto;
  width: auto;
}
/* SERVICES STYLES
.service-box{
  margin: 3em auto;
  box-shadow: 0px -6px 10px rgba(255, 255, 255, 1),
              0px 4px 15px rgba(0, 0, 0, 0.15);
  padding: 1em 3em;
  border-radius: .5em;
}
.service-box-icon{
  display: block;
  text-align: center;
  margin-bottom: 1.5em;
}
.service-box-icon i{
  color:#D5A194;
  font-size: 3em;
}

.service-box-title{
  display: block;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  color:#D5A194;
  font-size: 1.5em;
}*/
.service-box-content{
  color: #e4e4e4;
  line-height: 1.5em;
  font-size: 1.1em;
}
.service-box {
  padding: 1em;
  text-align: left;
}
.service-box ul {
  padding-inline-start: 1.5em;
}

/*
.service-box-button{
  display: block;
  text-align: center;
}
.service-box-button .btn {
  display: inline-block;
    box-shadow: 5px 5px 10px #969696, -5px -5px 10px #e4e4e4;
    color: #bdbdbd;
    background: none;
    padding: 1em;
    text-transform: uppercase;
    font-weight: 500;
    height: auto;
    width: auto;
}
.service-box-button a:hover{
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 1), 2px 2px 5px rgba(0, 0, 0, 0.15);
}*/
/* SIDE STYLES - color palatte: D5BBB2, bdbdbd, A56E60*/
aside {
  background: #003d75;
  color: #eee;
  display: flex;
  float:right;
  width:20%;
  align-items: center;
  /*justify-content: center;*/
  flex-direction: column;
  height: 150vh;
  margin: 0;
}
aside .heading {
  margin: 0 auto 1.5em auto;
}
aside .heading:nth-child(2) {
  margin: 1.5em auto;
}
aside .row {
  margin: auto;
  float: left;
  text-align: center;
}
.btn-container {
  margin-bottom: 2em;
}
.btn i {
  font-size: 40px;
  transition: all 400ms;
  color: #9bcaf5;
}
.btn:hover i {
  transform: scale(0.96);
}
/* CONTACT STYLES */
form label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  font-family: arial;
}
form input {
  color: #000;
  font-size: 16px;
  margin-bottom: 20px;
}
form textarea {
  height: 4.75rem;
  width: 75%;
  color: #000;
  font-size: 16px;
  margin-bottom: 20px;
  background-color: #003d75;
  border-bottom: none;
}
/* PORTFOLIO STYLES */
.media-card {
  margin: 3em auto;
  box-shadow: 5px -6px 10px rgb(208, 205, 205), 5px 4px 15px rgba(0, 0, 0, 0.42);
  border-radius: .5em;
  transition: box-shadow .3s ease;
  background: #003d75;
}
.media-card:hover {
  cursor: pointer;
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 1), 2px 2px 5px rgba(0, 0, 0, 0.15);
}
.media-card-image-wrapper {
  position: relative;
}
.media-card-image-wrapper img {
  width: 100%;
}
.media-card-meta-taxonomy {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #7dbbf5;
  box-shadow: 5px 5px 10px #00101f,
              -5px -5px 10px #0069ca;
  padding: .5em 1em;
  border-radius: .5em;
}
.media-card-title {
  position: relative;
  padding: 1.5em 1em;
}
.media-card-title h2 a {
  font-size: 1em;
  font-weight: bold;
  color:#eee;
  text-transform: uppercase;
}

.media-card-meta-date {
  position: absolute;
  top: 50%;
  transform:translateY(-50%);
  right: 15px;
  font-style: italic;
  font-size: .8em;
  color:#727272;
}
.media-card-content {
  padding: 0em 1em;
  color:#eee;
}
.media-card-button {
  padding: 0 1em 1.5em 1em;
  text-align: center;
}
.media-card-button .btn {
  display: inline-block;
  box-shadow: 5px 5px 10px #00101f, -5px -5px 10px #0069ca;
  color: #7dbbf5;
  background: none;
  padding: 1em;
  text-transform: uppercase;
  font-weight: 500;
  height: auto;
  width: auto;
}
/* FOOTER STYLES */
