#b27ac7/*
font-family: 'Montserrat', sans-serif;
font-family: 'Cinzel', serif;

Color Palatte:
mauve- #C89BA2
plum- #4C1B31
lighter blue- #4A7890
medium blue- #093E60
navy- #041F3D
rose gold- #CD8D81
rose gold gradient link- https://www.colorzilla.com/gradient-editor/#cd8561+0,e1ac8f+25,f2d4c3+50,e1ac8f+75,cd8561+100



Styles Order:

GLOBAL STYLES
HEADER STYLES
NAV STYLES
MAIN STYLES
INTRO STYLES
ABOUT STYLES
PROJECT-IDEAS STYLES
SERVICES STYLES
CONTACT STYLES
SIDE STYLES
PORTFOLIO STYLES
FOOTER STYLES
*/

/* GLOBAL STYLES */
* {
  font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Cinzel', serif;
}

body {
  background-color: #f2f2f2;
}
.row {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.col-one{
  width: 100%;
}
.heading{
  font-size: 2em;
  color:#999;
  text-transform: uppercase;
  padding: 1em 0;
  text-align: center;
}
.col-thirds {
  width: 31%;
  float: left;
  margin: 1em;
  flex: auto;
}
/* HEADER STYLES */
header {
  margin: 0;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #D5A194;
}
h1 {
  color: #D5A194;
  font-size: 8em;
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
  text-shadow: -6px 6px 15px rgba(165,110,96,0.5),
               6px -6px 15px rgba(213,187,178,0.8);
  position: relative;
}
/* NAV STYLES */
nav ul {
  list-style: none;
  display: inline-flex;

}
/* MAIN STYLES */
main {
  float:left;
  width: 80%;
}
/* INTRO STYLES */
/* ABOUT STYLES */
/* PROJECT-IDEAS STYLES */
/* SERVICES STYLES */
.service-box{
  box-shadow: 0px -6px 10px rgba(255, 255, 255, 1),
              0px 4px 15px rgba(0, 0, 0, 0.15);
  padding: 3em 3em;
  border-radius: .5em;
}
.service-box-icon{
  display: block;
  text-align: center;
  margin-bottom: 1.5em;
}
.service-box-icon i{
  color:#D5A194;
  font-size: 3em;
}

.service-box-title{
  display: block;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  color:#D5A194;
  font-size: 1.5em;
}
.service-box-content{
  margin: 1.5em 0;
  text-align: center;
  color:#999;
  line-height: 1.5em;
  font-size: 1.1em;
}
.service-box-button{
  display: block;
  text-align: center;
}
.service-box-button a {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;
  box-shadow:0px -6px 10px rgba(255, 255, 255, 1), 0px 4px 15px rgba(0, 0, 0, 0.15);
  text-decoration: none;
  color:#D5A194;
  padding: 1em;
  border-radius: .5em;
  transition: box-shadow .3s ease;
}
.service-box-button a:hover{
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 1), 2px 2px 5px rgba(0, 0, 0, 0.15);
}
/* CONTACT STYLES */
/* SIDE STYLES - color palatte: D5BBB2, D5A194, A56E60*/
aside {
  background-color: #D5A194;
  display: flex;
  float:right;
  width:20%;
  align-items: center;
  /*justify-content: center;*/
  flex-direction: column;
  height: 100vh;
  margin: 0;
}
h1 {
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 4px;
  margin: 48px 0;
  color: #525252;
}
.btn-container {
  display: inline-flex;
}
.btn {
  height: 50px;
  width: 50px;
  margin: 0 8px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 400ms;
  background: #D5A194;
  box-shadow:  5px 5px 10px #b5897e,
               -5px -5px 10px #f5b9aa;
}
.btn:hover {
  box-shadow: inset 5px 5px 10px #b5897e,
              inset -5px -5px 10px #f5b9aa;
  transform: translatey(2px);
}
aside a {
  text-decoration: none;
}
.btn i {
  font-size: 40px;
  color: #727272;
  transition: all 400ms;
}
.btn:hover i {
  transform: scale(0.96);
}
/* PORTFOLIO STYLES */
.media-card {
  background-color: #f2f2f2;
  box-shadow: 0px -6px 10px rgba(255, 255, 255, 1), 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: .5em;
  transition: box-shadow .3s ease;
}
.media-card:hover {
  cursor: pointer;
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 1), 2px 2px 5px rgba(0, 0, 0, 0.15);
}
.media-card-image-wrapper {
  position: relative;
}
.media-card-image-wrapper img {
  width: 100%;
}
.media-card-meta-taxonomy {
  position: absolute;
  top: 15px;
  right: 15px;
  background:#b27ac7;
  color: #f2f2f2;
  //background:#f2f2f2;
  //color:#b27ac7;
  //box-shadow:0px -6px 10px rgba(255, 255, 255, 1), 0px 4px 15px rgba(0, 0, 0, 0.15);
  padding: .5em 1em;
  border-radius: .5em;
}
.media-card-title {
  position: relative;
  padding: 1.5em 1em;
}
.media-card-title h2 {
  font-size: 1em;
  font-weight: bold;
  color:#b27ac7;
  text-transform: uppercase;
}
.media-card-meta-date {
  position: absolute;
  top: 50%;
  transform:translateY(-50%);
  right: 15px;
  font-style: italic;
  font-size: .8em;
  color:#999;
}
.media-card-content {
  padding: 0em 1em;
  color:#999;
}
.media-card-button {
  padding: 1.5em 1em;
}
.media-card-button a {
  border-radius: .5em;
  text-decoration: none;
  //text-transform: uppercase;
  display: inline-block;
  //box-shadow:0px -6px 10px rgba(255, 255, 255, 1), 0px 4px 15px rgba(0, 0, 0, 0.15);
  //padding: .7em;
  font-style: italic;
  color:#b27ac7;
  font-weight: 500;
  font-size: 1em
}
/* FOOTER STYLES */
