/*
font-family: 'Montserrat', sans-serif;
font-family: 'Cinzel', serif;

Color Palatte:
mauve- #C89BA2
plum- #4C1B31
medium blue- #093E60
navy- #FAFAFA
rose gold- #CD8D81
rose gold gradient link- https://www.colorzilla.com/gradient-editor/#cd8561+0,e1ac8f+25,f2d4c3+50,e1ac8f+75,cd8561+100



Styles Order:

GLOBAL STYLES
HEADER STYLES
NAV STYLES
MAIN STYLES
INTRO STYLES
ABOUT STYLES
PROJECT-IDEAS STYLES
SERVICES STYLES
CONTACT STYLES
SIDE STYLES
PORTFOLIO STYLES
FOOTER STYLES
*/

/* GLOBAL STYLES */
* {
  font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Cinzel', serif;
}
/* HEADER STYLES */
/* NAV STYLES */
/* MAIN STYLES */
main {
  float:left;
  width: 70%;
}
/* INTRO STYLES */
/* ABOUT STYLES */
/* PROJECT-IDEAS STYLES */
/* SERVICES STYLES */
/* CONTACT STYLES */
/* SIDE STYLES - color palatte: D5BBB2, D5A194, A56E60*/
aside {
  background-color: #D5A194;
  display: flex;
  float:right;
  width: 30%;
  align-items: center;
  /*justify-content: center;*/
  flex-direction: column;
  height: 100vh;
  margin: 0;
}
h1 {
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 4px;
  margin: 48px 0;
  color: #525252;
}
.btn-container {
  display: inline-flex;
}
.btn {
  background: #D5A194;
  height: 80px;
  width: 80px;
  margin: 0 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 400ms;
  box-shadow: 7px 7px 15px #A56E60,-4px -4px 13px #D5BBB2,
        inset 4px 4px 8px rgba(209, 217, 230, 0.2),
        inset -8px -8px 8px rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.btn:hover {
  box-shadow: 4px 2px 18px #A56E60, -4px -4px 13px #D5BBB2,
        inset 6px 6px 16px rgba(213, 187, 178, 0.8),
        inset -8px -8px 8px rgba(255, 255, 255, 0.2);
  transform: translatey(2px);
}
aside a {
  text-decoration: none;
}
.btn i {
  font-size: 40px;
  color: #727272;
  transition: all 400ms;
}
.btn:hover i {
  transform: scale(0.96);
}
/* PORTFOLIO STYLES */
/* FOOTER STYLES */
