/* 
IMPORTS 
font-family: 'Montserrat', sans-serif;
font-family: 'Poiret One', cursive;
*/

:root {
  --accent-font: "Poiret One", cursive;
  --base-font: "Montserrat", sans-serif;
  --soft-white: #eeeeee;
  --overlay: rgba(8, 7, 64, 0.98);
  --blue-bg: #080740;
  --aqua: #00ffff;
  --purple: #6620ea;
  --magenta: #ca24fb;
  --blue: #3388e8;
  --white: #ffffff;
  --header-h1: var(--magenta, magenta);
  --header-h3: var(--aqua, aqua);
  --all-headers: var(--white, white);
  --p-color: var(--soft-white, ghostwhite);
}

/****** BASE STYLES ******/
* {
  font-family: var(--base-font, sans-serif);
}
html {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  z-index: 1;
  background: var(--blue-bg, navy) url("./images/bg-3000x2000.jpg") center
    center;
  min-width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
body::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--blue-bg, navy);
  opacity: 0.5;
}
main {
  display: flex;
  margin: auto;
  font-family: var(--base-font, sans-serif);
}
h1 {
  font-family: var(--accent-font, cursive);
  margin: auto;
  padding: 0;
}
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5em;
}
p {
  margin: 0 0 0.25em;
}
hr {
  border: 0.5px solid var(--magenta);
  margin: 1em auto;
}
img {
  width: 100%;
}
span {
  display: inline-flex;
}

/****** GLOBAL CLASSES ******/
.hidden {
  display: none;
}
.greater,
.lesser {
  display: none;
}
.lowercase {
  text-transform: lowercase;
}
.blue-bg {
  background-color: var(--blue-bg, navy);
}
.aqua {
  color: var(--aqua, aqua);
}
.purple {
  color: var(--purple, indigo);
}
.magenta {
  color: var(--magenta, magenta);
}
.blue {
  color: var(--blue, royalblue);
}
.white {
  color: var(--white), white;
}
.btn {
  color: var(--aqua, aqua) !important;
  width: auto;
  text-decoration: none;
  height: auto;
  padding: 0.5em;
  margin: 0 0.5em 1em;
  border: none;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 400ms;
  background: transparent;
  box-shadow: 0.1px 0.1px 5px rgba(2, 223, 248, 0.5),
    -0.1px -0.1px 15px rgba(2, 223, 248, 0.5);
}
.btn:hover {
  box-shadow: inset 0.1px 0.1px 5px rgba(2, 223, 248, 0.5),
    inset -0.1px -0.1px 15px rgba(2, 223, 248, 0.5);
  transform: translatey(2px);
}
.btn i {
  font-size: 6vw;
  transition: all 400ms;
  color: var(--aqua, aqua);
}
.main-wrapper {
  width: 100%;
}

/****** FLEXBOX FORMAT ******/
.wrapper {
  margin: 1em auto;
  box-shadow: 5px 5px 10px #00101f, -5px -5px 10px #00101f;
  padding: 1em;
  border-radius: 0.5em;
  text-align: center;
  background: var(--overlay, navy);
  width: 80%;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}
.group {
  max-width: 1440px;
  width: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.column {
  flex-direction: column;
}
.row {
  flex-direction: row;
}
.item {
  flex: 1;
  margin: auto;
  text-align: center;
  color: var(--soft-white, white);
  line-height: 1.25em;
}
.item-double {
  flex: 2;
  margin: 10px;
  text-align: center;
  color: var(--soft-white, white);
  line-height: 1.25em;
}
.item-triple {
  flex: 3;
  margin: 10px;
  text-align: center;
  color: var(--soft-white, white);
  line-height: 1.25em;
}

/****** SECTION STYLES ******/
.section-header {
  display: inline-flex;
  border-bottom: 2px solid var(--magenta, magenta);
  margin: 1em auto;
  padding-bottom: 2.5%;
  justify-content: center;
}
section p {
  color: var(--p-color, ghostwhite);
}

/****** HEADER STYLES ******/
header {
  width: 100%;
  overflow: hidden;
  background-color: var(--blue-bg);
  box-shadow: 5px 5px 10px #00101f, -5px -5px 10px #00101f;
}
header .font-container {
  margin: 25px auto;
  padding: 0;
}
header h1 {
  font-family: var(--accent-font, cursive);
  margin: 0;
  padding: 0;
  color: var(--aqua, aqua) !important;
  font-size: 9vw;
  text-align: center;
  text-shadow: 0px 5px 2.5px #000000, -3px 0 2px #a7ffff;
}
header h3 {
  margin: 0;
  padding: 0;
  color: var(--magenta, magenta);
  font-size: 4.5vw;
  text-align: center;
}

/****** INTRO STYLES ******/
.intro-box p {
  line-height: 1.5em;
}
.intro-box img {
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
  box-shadow: 0.1px 0.1px 50px rgba(2, 223, 248, 0.5),
    -0.1px -0.1px 50px rgba(2, 223, 248, 0.5);
}
.intro-box .section-header {
  border: none;
}
#resume .btn {
  margin: 0.5em auto;
}

/****** PORTFOLIO STYLES ******/
.portfolio-box h2 {
  font-family: var(--base-font, sans-serif);
  text-decoration: none;
  display: block;
  text-align: center;
  font-weight: 700;
  color: var(--all-headers, white);
  line-height: 1.5em;
}
.portfolio-box img {
  border: 1px solid #000;
  margin: 0 auto 10px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

/****** SERVICES STYLES ******/
.services-box ul {
  list-style: none;
  padding: 0;
}
.services-box ul li {
  margin: 0 auto 1em auto;
}

/****** CONTACT STYLES ******/
form {
  display: flex;
  flex-direction: column;
}
form label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  font-family: arial;
}
form textarea,
form input[type="text"] {
  height: 1.5em;
  width: 90%;
  color: #000;
  font-size: 16px;
  background-color: #efefef;
  margin: 20px auto;
  border-radius: 5px;
  border: 3px outset #0ec0c3;
}
input:focus,
textarea:focus {
  outline: 1px auto #f2f2f2;
}
form textarea {
  height: 4.75rem;
  width: 90%;
  color: #000;
  font-size: 16px;
  background-color: #efefef;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 3px outset #0ec0c3;
}
form .btn {
  width: fit-content;
  margin: auto;
}

/****** SOCIAL STYLES ******/
#social {
  top: auto;
  height: auto;
}
#social .group {
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 auto;
}
#social .btn-container {
  display: inline-flex;
  margin-bottom: 2em;
}
#social .btn {
  background: transparent;
  margin: 0 0.5em;
}

/****** FOOTER STYLES ******/
footer {
  bottom: 0;
  width: 100%;
  display: grid;
  text-align: center;
  padding: 0.5em 0;
  background-color: var(--blue-bg);
  box-shadow: 5px 5px 10px #00101f, -5px -5px 10px #00101f;
}
.footer-meta {
  margin: 0 auto;
  font-size: 0.5em;
}

/* TABLET-2ND-(min-width: 426px) */
@media all and (min-width: 426px) {
  .item {
    width: 75%;
  }
}
/* LAPTOP-3RD-(min-width: 769px) */
@media all and (min-width: 769px) {
  .greater,
  .lesser {
    display: inline-flex;
    white-space: nowrap;
    margin: auto !important;
    justify-content: center;
  }
  .btn i {
    font-size: 4vw;
  }
  .wrapper {
    width: 90%;
    margin: 3em auto;
  }
  #concepts .group,
  #portfolio .group {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .concepts-box .items {
    width: 30%;
  }
  .portfolio-box h2 {
    height: 80px;
  }
  #social-phone {
    display: none;
  }
  #social .social-wrapper {
  }
  footer .footer-meta {
    margin: 1% auto;
    font-size: 0.75em;
  }
}
/* DESKTOP-4TH-(min-width: 1025 px) */
@media all and (min-width: 1025px) {
  main {
    display: block;
  }
  .wrapper {
    width: 80%;
    margin: 3em auto;
  }
  section p .services-box ul li {
    font-size: 1.25em;
  }
  .btn i {
    font-size: 2vw;
  }
  form button[type="submit"] {
    display: flex;
    margin: auto;
  }
  form input[type="text"] {
    height: 2em;
    width: 50%;
  }
  form textarea {
    width: 50%;
  }
}
